table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button-container {
    margin-top: 10px;
}

.form-example {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #f2f2f2;
	border-radius: 5px;
}

h2 {
	text-align: center;
	font-size: 28px;
	color: #333;
	margin-bottom: 30px;
}

label {
	font-size: 18px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	color: #666;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="file"], select {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 20px;
	font-size: 16px;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

span {
	color: red;
}

.button-example {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

.button-example.disabled {
opacity: 0.5;
cursor: not-allowed;
}

.button-example:hover {
	background-color: #45a049;
}

.button-search {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.button-search.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-search:hover {
  background-color: #45a049;
}
